.lesson_container{
    padding-left: 20px;
    padding-top: 60px;
  
    
}
.lesson_header{
    display: inline;
    color: rgb(82, 82, 231);
}
.lesson_header .bi{
    padding: 2px;
    margin: 2px;
    font-size: 18px;
}
.custome_card{
    width: 18rem;
    height: 10rem;
}
input[type="file"]{
    display: none;
}
label{
    margin: auto;
    font-weight: bold;
}